@use '../../styles/colors' as *;
@use '../../styles/fonts';


#page-about {

  
  #about-fun_facts {
    display: inline-flex;
    flex-direction: column;
    gap: 1em;

    hgroup {
      h2 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        margin-bottom: 0.25em;
  
        &::after {
          @include fonts.jbm;
          font-size: 0.45em;
          color: crimson;
          background-color: rgba(10, 10, 10, 0.05);
  
          content: 'LIVE *';
          border: 1px solid gray;
          border-radius: .25em;
          padding: 0 .25em;
  
          margin-left: 1em;
          margin-bottom: .5em;
        }
      }

      small {
        display: block;
        margin-top: 1em;
      }
    }

    div {
      display: inline-grid;
      grid-template-columns: repeat(3, 240px);
      gap: 1em;

      @media (max-width: 820px) {
        grid-template-columns: repeat(2, 240px);
      }

      @media (max-width: 540px) {
        display: inline-flex;
        flex-flow: row wrap;
      }
    }
  }
}