body {
  font-family: monospace;
  font-size: 1.25em;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .25em 1em;

  padding: 1em;
}

main {
  display: block;
  padding: 1em;
  font-family: monospace;
}

#settings-dialog {
  position: relative;
}

#close-button {
  position: absolute;
  right: .5em;
  top: .5em;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: #0B6623;
}

*::selection {
  color: white;
  background-color: #0B6623;
}