body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .25em 1em;

  padding: 1em;
}

main {
  display: block;
  padding: 1em;
  font-family: monospace;
}

#settings-dialog {
  position: relative;
}

#close-button {
  position: absolute;
  right: .5em;
  top: .5em;
}
