@import url('https://fonts.cdnfonts.com/css/rubik-2');                
@import url('https://fonts.cdnfonts.com/css/joan-2');
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');


@mixin jbm {
  font-family: 'JetBrains Mono', monospace;
}

@mixin joan {
  font-family: 'Joan', serif;
}

@mixin rubik {
  font-family: 'Rubik', sans-serif;
}
