@mixin card-media {
  box-sizing: border-box;
  width: 320px;

  @media (max-width: 820px) {
    width: 100%;
  }
}

@mixin border {
  border: 1px solid black;
  border-radius: .25em;
}

@mixin shadow-heavy {
  // https://getcssscan.com/css-box-shadow-examples - #29 by Material
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@mixin shadow-light {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

@mixin card {
  @include border;
  @include card_media;
  @include shadow-heavy;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-image: url('../../public/bg/paper.png');
  background-repeat: repeat;

  padding: 1em;

  img {
    height: 48px;
    
    object-fit: contain;

    margin-right: auto;
    margin-bottom: .25em;
  }
}

