#page-resume {
  display: flex;
  flex-direction: column;
  gap: 1em;
  
  h1, hr {
    margin-bottom: 0;
  }

  img {
    margin-bottom: .25em;
  }
  
  #resume-downloads {
    margin-bottom: .5em; 
  
    a {
      color: #0B6623;
  
      &:hover {
        color: rgba(11, 102, 35, 0.8);
      }
    }
  }

  #resume-introduction {
    h2 {
      margin-bottom: .125em;
    }
  }

  #current-role div {
    display: block;
    max-width: 320px;

    border: 1px solid black;
    border-radius: .25em;
    padding: .5em;

    color: honeydew;
    background-color: rgba(11, 102, 35, 1);
    background-image: url('background.png');
  }
  
  #past-roles div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: .5em;
  
    article {
      display: block;
      max-width: 320px;

      border: 1px solid black;
      border-radius: .25em;
      padding: .5em;

      background-color: rgba(225, 25, 55, 0.35);
      background-image: url('background.png');
      
      img {
        height: 24px;
      }
    }
    
  }
}

