@use '../../styles/mixins';
@use '../../styles/colors' as *;

#page-resume {
  display: flex;
  flex-direction: column;
  gap: 1em;
  
  h1, hr {
    margin-bottom: 0;
  }
  
  #resume-downloads {
    margin-bottom: .5em; 
  
    a {
      color: #0B6623;
  
      &:hover {
        color: rgba(11, 102, 35, 0.8);
      }
    }
  }

  #resume-strengths {
    ul {
      list-style-type: square;

      display: flex;
      flex-direction: column;
      gap: 1em;

      margin-bottom: 2em;
    }
  }

  #current-role, #past-roles, #resume-education {
    article {
      @include mixins.card;
      display: block;
    }
  }

  #roles-list, #past-roles div, #resume-education div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1em;
  }

  #roles-list > * {
    box-sizing: border-box;
    width: 320px;
    @media (max-width: 640px) {
      width: 100%;
    }
  }

  #resume-experience {
    h2 {
      margin-bottom: 0;
    }

    #role-infobate {
      color: $text-dark;
      background-color: $green-solid;
    }

    #role-cgi {
      background-color: rgba(225, 25, 55, 0.35);
    }

    .hr-partial {
      margin-top: 2em;
    }
  }

  #resume-education {
    article {
      img {
        margin-bottom: .5em;
      }
    }

    #education-te {
      background-color: rgba(0, 172, 241, 0.5);
    }

    #education-psu {
      background-color: rgba(30, 64, 124, 0.65);
    }
  }
}

