@use '../../styles/mixins';
@use '../../styles/colors' as *;
@use '../../styles/fonts';

#page-resume {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;
  
  
  hgroup {
    h1, hr {
      margin-bottom: 0;
    }
  }

  #resume-paper {
    @include mixins.border;
    @include mixins.shadow-heavy;

    display: inline-block;
    padding: 3em 2em;
    margin-right: auto;

    border: 1px solid black;
    border-radius: .25em;

    background-color: rgba(10, 10, 10, 0.1);
  }
  
  #resume-downloads {
    margin-bottom: .5em;
  }

  #resume-header {
    b {
      font-size: 1.25em;
    }
  }

  #resume-strengths {
    ul {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }

  #current-role, #past-roles, #resume-education {
    article {
      @include mixins.card;
      @include mixins.shadow-light;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.25em;

      min-height: 12em;

      code {
        margin-top: auto;
        margin-bottom: 0;
      }
    }
  }

  #roles-list, #past-roles div, #resume-education div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2em;
  }

  #roles-list > * {
    @include mixins.card_media;
  }

  #resume-experience {
    h2 {
      margin-bottom: 0;
    }

    #role-infobate {
      color: $text-dark;
      background-color: $green-solid;
    }

    #role-cgi {
      background-color: rgba(225, 25, 55, 0.35);
    }

    .hr-partial {
      margin-top: 2em;
    }
  }

  #resume-education {
    article {
      img {
        margin-bottom: .5em;
      }
    }

    #education-te {
      background-color: rgba(0, 172, 241, 0.5);
    }

    #education-psu {
      background-color: rgba(30, 64, 124, 0.65);
    }
  }
}

