@use '../../styles/mixins';
@use '../../styles/fonts';
@use '../../styles/colors' as *;

#page-home {
  hgroup {
    p {
      @include fonts.jbm;
      font-size: 1.25em;
    }
  }

  #home-about {
    h2 {
      small {
        color: crimson;
        font-size: 0.5em;
        margin-left: 0.5em;
      }
    }

    div {
      display: flex;
      flex-flow: row wrap;
      gap: 1em;
  
      #about-color {
        background-color: $green-solid;
      }

      #about-coffee {
        background-color: #6F4E37;
      }
    }
  }
}