@use '../../styles/mixins';
@use '../../styles/fonts';
@use '../../styles/colors' as *;

#page-home {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;

  hgroup p {
    @include fonts.jbm;
    font-size: 1.25em;
  }

  ul {
    list-style: none;
    padding-left: 2em;
  
    li {
      &:not(:last-child) {
        margin-bottom: .125em;
      }

      &::before {
        position: absolute;
        content: '🠚';
        transform: translate(-1.25em, -.125em);
      }
    }

    a {
      font-weight: bold;
    }
  }
  
  #portal-resume {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    #resume-link {
      @include mixins.card;

      display: inline-block;
      text-align: center;
      
      padding: 1em;

      color: $text-dark;
      background-color: $green-75;
      text-decoration: none;

      &:hover {
        background-color: $green-80;
        text-decoration: underline;
      }
    }
  }
}

