@use '../../styles/mixins';
@use '../../styles/fonts';
@use '../../styles/colors' as *;

#page-home {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;

  hgroup {
    p {
      @include fonts.jbm;
      font-size: 1.25em;
    }
  }

  #home-about {
    display: inline-flex;
    flex-direction: column;
    gap: 1em;

    hgroup {
      h2 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        margin-bottom: 0.25em;
  
        &::after {
          @include fonts.jbm;
          font-size: 0.45em;
          color: crimson;
          background-color: rgba(10, 10, 10, 0.05);
  
          content: 'LIVE *';
          border: 1px solid gray;
          border-radius: .25em;
          padding: 0 .25em;
  
          margin-left: 1em;
          margin-bottom: .5em;
        }
      }

      small {
        display: block;
        margin-top: 1em;
      }
    }

    div {
      display: inline-flex;
      flex-flow: row wrap;
      gap: 1em;
  
      #about-color {
        background-color: $green-solid;
      }

      #about-coffee {
        background-color: #6F4E37;
      }
    }
  }
}