@use '../../styles/mixins';
@use '../../styles/fonts';
@use '../../styles/colors' as *;

#page-home {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;

  hgroup {
    p {
      @include fonts.jbm;
      font-size: 1.25em;
    }
  }
}

