@use '../../styles/mixins';
@use '../../styles/fonts';
@use '../../styles/colors' as *;

#page-home {
  hgroup {
    p {
      @include fonts.jbm;
      font-size: 1.25em;
    }
  }

  #home-about {
    hgroup {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: baseline;
      gap: 2em;

      a {
        font-size: 1.5em;
        text-decoration: none;
      }
    }

    div {
      display: flex;
      flex-flow: row wrap;
      gap: 1em;
      
      article {
        @include mixins.card;
        @include fonts.jbm;

        height: 120px;
        justify-content: center;
        
        text-align: center;
        padding: 1em 2em;
  
        span {
          font-size: 1.35em;
        }

        small {
          font-size: .65em;
        }
      }
  
      #about-color {
        background-color: $green-solid;
      }

      #about-coffee {
        background-color: #6F4E37;
      }
    }
  }
}