@use '~/styles/mixins';

#page-resources {
  ul li {
    max-width: 360px;
    height: auto;

    hgroup {
      display: flex;
      flex-direction: column;
      
      h3 {
        margin-bottom: 0.25em;
      }
    }
  }
}

