@use '~/styles/fonts';
@use '~/styles/colors' as *;


header {
  position: relative;

  display: inline-flex;
  flex-direction: column;
  gap: .5em;

  margin-bottom: 2em;

  #name-link {
    color: $text-dark;
    text-decoration: none;

    span {
      @include fonts.joan;
      font-size: 2.25em;
      font-weight: bold;
  
      small {
        @include fonts.jbm;
  
        color: rgba(11, 102, 35, 1);
        font-size: .35em;
      }
  
      &:hover {
        color: rgba(10, 10, 10, 0.75);
        transition: 120ms ease;

        small {
          color: $green-75;
          transition: 120ms ease;
        }
      }
    }
  }
}