@use '../../styles/fonts';


header {
  display: flex;
  flex-direction: column;
  gap: .5em;

  #name {
    @include fonts.joan;
    font-size: 2.25em;
    font-weight: bold;

    small {
      @include fonts.jbm;

      color: rgba(11, 102, 35, 1);
      font-size: .35em;

      &:hover {
        color: rgba(11, 102, 35, 0.75);
        transition: 120ms ease;
      }
    }
  }
}