#page-projects {
  h1 {
    margin-bottom: 0;
  }

  article {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
      background-image: url('public/background.png');
      background-repeat: repeat;

      padding: .5em;
      border-radius: .25em;

      // https://getcssscan.com/css-box-shadow-examples - #29 by Material
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    #jg-logo {
      display: inline-block;
      background-color: rgba(11, 102, 35, 0.9);

      border: 1px solid black;
      border-radius: .5em;
      
      img {
        max-height: 36px;
        padding: .5em 1em;
        margin: 0 auto;
      }

      &:hover {
        // https://getcssscan.com/css-box-shadow-examples - #31 by Material
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        
        background-color: rgba(11, 102, 35, 0.95);
        transition: 150ms ease-in;
      }
    }
  }
}


