#page-projects {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;

  h1 {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: 400px;

    background-image: url('background.png');
    background-repeat: repeat;
    
    border: 1px solid black;
    border-radius: .25em;
    
    // https://getcssscan.com/css-box-shadow-examples - #29 by Material
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    .project-header {
      display: inline-block;
      
      border-bottom: 1px solid black;

      h2 {
        text-align: center;
      }
    }

    p {
      padding: 0 1em;
    }
  }

  #project-jg {
    color: honeydew;
    background-color: rgba(11, 102, 35, 1);

    .project-header {
      height: 3.5em;

      background-color: rgba(11, 102, 35, 1);
      background-image: url('jamesguide.png');
      background-position: center;
      background-size: 82.5%;
      background-repeat: no-repeat;
    }
    
    &:hover {
      background-color: rgba(11, 102, 35, 0.9);
      transition: 150ms ease;
      
      .project-header {
        background-color: rgba(11, 102, 35, 0.9);
        background-size: 85%;
        transition: 150ms ease;
      }
    }
  }
}


