@use '~/styles/mixins';
@use '~/styles/colors' as *;


#page-projects {
  #projects-list {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
  }

  .project-link {
    color: $text-dark;
    text-decoration: none;
  }

  article {
    @include mixins.card;
    @include mixins.card-media;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: 320px;
    height: auto;
    
    padding: 0;
    
    .project-header {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid black;
      height: 3.5em;

      h2 {
        text-align: center;
      }
    }

    .project-description {
      padding: 1em;
      padding-top: 0;
    }

    code {
      margin-top: auto;
      margin-bottom: 1em;
      padding-left: 1em;
    }
  }

  #project-jg {
    background-color: rgba(11, 102, 35, 1);

    .project-header {
      width: 100%;

      background-color: rgba(11, 102, 35, 0.75);
      background-image: url('/logos/james-guide.png');
      background-position: center;
      background-size: 82.5%;
      background-repeat: no-repeat;
    }
    
    &:hover {
      background-color: rgba(11, 102, 35, 0.95);
      transition: 60ms ease;
      
      .project-header {
        background-color: rgba(11, 102, 35, 0.65);
        background-size: 90%;
        transition: background-color 60ms ease,
                    background-size 120ms ease;
      }
    }
  }

  #project-bw {
    background-color: rgba(84, 166, 205, 1);

    .project-header {
      background-color: rgba(33, 65, 80, 0.3);
    }
  }
}


