@use '../../styles/mixins';
@use '../../styles/colors' as *;

#page-projects {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;

  h1 {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  article {
    @include mixins.card;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0;
    
    .project-header {
      display: inline-block;
      
      border-bottom: 1px solid black;

      h2 {
        text-align: center;
      }
    }

    p {
      padding: 0 1em;
    }
  }

  #project-jg {
    color: honeydew;
    background-color: rgba(11, 102, 35, 1);

    .project-header {
      height: 3.5em;

      background-color: rgba(11, 102, 35, 1);
      background-image: url('jg-logo.png');
      background-position: center;
      background-size: 82.5%;
      background-repeat: no-repeat;
    }
    
    &:hover {
      background-color: rgba(11, 102, 35, 0.9);
      transition: 150ms ease;
      
      .project-header {
        background-color: rgba(11, 102, 35, 0.9);
        background-size: 85%;
        transition: 150ms ease;
      }
    }
  }
}


