footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  border-top: 3px solid black;
  padding: .25em 1em;
}

footer nav {
  display: flex;
  flex-direction: row;
  gap: .5em;
  padding: .25em 0;
}

footer nav a {
  color: black;
}

footer nav a:hover {
  color: #0B6623;
}
