<template id="shared-footer">
  <link rel="stylesheet" href="templates/footer.css">

  <footer>
    <nav id="footer-links">
      <a href="https://github.com/jamescourson" style="background-image: url(../assets/svg/github.svg)"></a>
      <a href="https://linkedin.com/in/jamescourson" style="background-image: url(../assets/svg/linkedin.svg)"></a>
      <a href="https://www.hackerrank.com/jamescourson" style="background-image: url(../assets/svg/hackerrank.svg)"></a>
    </nav>

    <span id="copyright">&copy; James Courson 2023</span>
  </footer>
</template>
