footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  border-top: 3px solid black;
  padding: .25em 1em;
}

footer nav {
  display: flex;
  flex-direction: row;
  gap: .5em;
  padding: .25em 0;
}

footer small {
  margin-left: auto;
  font-size: .65em;
}

footer #knight {
  font-size: 1.25em;
}
