@use '~/styles/fonts';


footer {
  @include fonts.jbm;
  font-size: 0.85em;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5em;
  
  #hr-footer {
    width: 100%;
    margin-top: 3em;
  }

  div {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    gap: .75em;

    height: 1em;
  }
}

