@use './styles/fonts';

#root {
  @include fonts.rubik;

  padding: 1em;

  h1, h2, h3 {
    @include fonts.joan;
  }
}

.article-divider {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

hr.hr-partial {
  max-width: 25em;
  margin-left: 0;
}

