@use './styles/fonts';

#app {
  display: flex;
  flex-direction: column;
}

#root {
  @include fonts.rubik;

  padding: 1em 2em;

  @media (max-width: 820px) {
    padding: 1em;
  }

  h1, h2, h3 {
    @include fonts.joan;
  }
}

hr.hr-partial {
  max-width: 25em;
  margin-left: 0;
}

