#root {
  padding: 1em;
  font-family: 'Rubik', sans-serif;

  h1, h2, h3 {
    font-family: 'Joan', sans-serif;
  }
}

.article-divider {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

hr.hr-partial {
  max-width: 25em;
  margin: 1em auto 1em 0;
}

