@use './styles/fonts';
@use './styles/colors' as *;

body {
  background-image: url('/bg/cardboard.png');
}

*::selection {
  color: $text-light;
  background-color: $green-solid;
}

code {
  @include fonts.jbm;
  font-size: 0.7em;
}

ul {
  list-style-type: square;
}

a {
  color: $green-solid;

  &:hover {
    color: $green-80;
  }
}

hgroup {
  h1, h2 {
    margin-bottom: 0.25em;
  }
}

