@import url('https://fonts.cdnfonts.com/css/rubik-2');                
@import url('https://fonts.cdnfonts.com/css/joan-2');
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

body {
  padding: 1.618em;
  margin: 0;
}

*::selection {
  color: floralwhite;
  background-color: #0B6623;
}

