#skill-hover-label {
  display: inline;
  visibility: hidden;
  position: absolute;
  top: 1em;
  right: 1em;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1em;
  font-weight: bold;
  background-color: rgba(11, 102, 35, 0.15);
}

.list-card {
  display: inline-block;
  background-color: rgba(11, 102, 35, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: .25em;
  padding: 1em;
}

.list-card span a {
  display: inline-block;
}

.list-card .card-title-date-spaced {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1em;
}

.skill-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: .5em;
  margin-top: 1em;
}

.skill-list img {
  width: 2em;
  height: 2em;
  padding: .75em;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.025);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  transition: box-shadow 200ms ease, background-color 200ms ease;
}

.skill-list img:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

#edu-list {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;
}

#current-role ul, #past-roles ul, #edu-list {
  padding: 0;
  list-style-type: none;
}

article ul li a, #edu-list li a {
  text-decoration: none;
}

.list-card a, #current-role, #past-roles ul li a {
  display: block;
  position: relative;
}
