body {
  font-family: monospace;
  font-size: 1.25em;
  margin: 0;

  background-color: #EEEEEE;
}

#app {
  display: flex;
  flex-direction: column;
  gap: .25em 1em;

  padding: 1em;

  background-image: url('/assets/background.png');

  height: 100vh;
}

main {
  display: block;
  padding: 1em;
  font-family: monospace;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: #0B6623;
}

*::selection {
  color: #EEEEEE;
  background-color: #0B6623;
}
