@import url('https://db.onlinewebfonts.com/c/0951d0fef227ef0eecdfb6c0ce0bf22a?family=Dilemma');

html {
  background-color: #EEEEEE;
  background-image: url('/assets/background.png');
}

body {
  font-family: monospace;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  gap: .25em 1em;

  padding: 1em;
}

main {
  display: block;
  padding: 1em;
  font-family: monospace;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: #0B6623;
}

*::selection {
  color: #EEEEEE;
  background-color: #0B6623;
}
