nav {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;

  font-family: 'JetBrains Mono', monospace;

  a {
    color: black;
    text-decoration: none;

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }

    &:hover, &.active {
      color: #0B6623;
    }
  }
}

