@use '../../styles/fonts';


nav {
  @include fonts.jbm;

  display: flex;
  flex-flow: row wrap;
  gap: 1em;

  a {
    color: black;
    text-decoration: none;

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }

    &:hover, &.active {
      color: #0B6623;
    }
  }
}

